* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
#main {
    width: 100%;
    height: 60px;
    display: block;
    background-color: rgb(15, 59, 143);
}
.sub1 {
    width: 30%;
    height: 100%;
    display: table-cell;
    float: right;
    margin-right: 10px;
}
.sub2 {
 width: 30%;
    height: 100%;
    float: left;
    margin-left: 30px;
}
.sub2 h4 {
    display: table-cell;
    color: white;
    line-height: 60px;  
}
.sub2 h4 span a {
    color: blanchedalmond;
}
.sub1 ul li {
   
    color: white;
    padding-right: 30px;
    display: inline;


}
.sub1 ul {
    float: right;
    
 
}
.sub1 ul li a{
    color: white;
    line-height: 60px;

    

}

#logo {
    width: 1400px;
    height: 130px;
    display: table-cell;
    vertical-align: middle;
}
.sub3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#head2 {
    width: 100%;
    height: 100px;
    background-color: rgb(15, 59, 143);
    display: block;
}
.sub4 {
    width: 95%;
    height: 20px;
    background-color: rgb(15, 59, 143);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sub5 ul {
    width: 95%;
    height: 110px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}
.sub5 ul li {
    float: left; 
    padding-top: 60px;
}  
.sub5 ul li a {
   
    color: blue;
    text-decoration: none;
    margin-left: 30px;
    
}
.corousel {
    margin: 0;
    padding: 0;
}
.left {
    position: absolute;
    top: 83%;
    left: 0%;
   
    cursor: pointer;
    padding: 32px 32px;
    margin-left: 30px; 

}
.right {
   position: absolute;
   top: 83%;
   right: 0%;
   cursor: pointer;
   padding: 32px 32px;
   margin-right: 30px;
}
#mainBlock {
    width: 100%;
    height: 400px;
   /* background-color: blueviolet; */
   font-family: "Barlow", Sans-serif;
    
    
}
.leftBlock {
    width: 33.33%;
    height: 100%;
   /* background-color: coral; */
    float: left;
}
.midBlock {
 width: 33.33%;
    height: 100%;
    float: left;
    
    
   /* background-color: grey; */
}
.rightBlock {
 width: 33.33%;
    height: 100%;
    float: left; 
   /* background-color: tomato; */
}
.leftBlock figure img {
    display: block;
    margin: auto;
    margin-top: 40px;
}
.leftBlock h4 {
    text-align: center;
    padding: 10px;
    color: #0f3b8f;
    font-family: "Barlow", Sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: -1px;
}
.leftBlock pre {
    color: #677289;
    font-family: "Barlow", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center
}
.midBlock figure img {
    display: block;
    margin: auto;
    margin-top: 45px;
}
.midBlock h4 {
    text-align: center;
    padding: 10px;
    color: #0f3b8f;
    font-family: "Barlow", Sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: -1px;
}
.midBlock pre {
    color: #677289;
    font-family: "Barlow", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center
}
.rightBlock figure img {
    display: block;
    margin: auto;
    margin-top: 49px;
}
.rightBlock h4 {
    text-align: center;
    padding: 10px;
    color: #0f3b8f;
    font-family: "Barlow", Sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: -1px;
}
.rightBlock pre {
    color: #677289;
    font-family: "Barlow", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center
}
#mains {
    width: 100%;
    height: 670px;
    font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
   /* background-color: violet; */
}
.sub6 {
    width: 50%;
    height: 100%;
    float: left;
    /*background-color: teal;*/
}
.sub7 {
    width: 50%;
    height: 100%;
    float: left;
    /*background-color: tomato;*/
}
.sub7 figure img {
    width: 95%;
    height: 100%;
    float: left;
    margin-top: 40px;

}
.sub6_1 {
    width: 100%;
    height: 50px;
   /* background-color: rebeccapurple;*/
}
.sub6_1 span {
    color: #34cbf7;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.5px;
    margin: 150px;
}
.sub6_2 {
    width: 100%;
    height: 100px;
   /* background-color: saddlebrown;*/
}
.sub6_2 h2 {
    color: #0f3b8f;
    font-size: 36px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -1px;
    margin-left: 150px;
}
.sub6_3 {
    width: 100%;
    height: 410px;
   /* background-color: darkgreen;*/
}
.sub6_3 p {
    color: #677289;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin-left: 150px;
}
.sub6_4 {
    width: 100%;
    height: 110px;
   /* background-color: gray;*/
}
.sub6_4 button {
    display: block;
    margin-left: 150px;
    background-color:rgb(52, 203, 247);
    padding: 20px;
}
.sub6_4 button a {
    text-decoration: none;
    color: white;

}
.sub8 {
    width: 100%;
    height: 200px;
    background-color: #0f3b8f;
    background-image: url(http://demo1.wpopal.com/unixco/wp-content/uploads/2018/08/bg_h6_01.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}
.sub8_1 {
    width: 50%;
    height: 100px;

    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;  
}
.sub8_2 {
    width: 33.33%;
    height: 100%;
    
    float: left;
}
.sub8_2 span {
    display: block;
    text-align: center;
    font-family:Barlow, -apple-system, BlinkMacSystemFont, sans-serif;
font-size:100px;
font-weight:300;
color:rgb(255, 255, 255);
letter-spacing:-1px;
}
.sub8_2 p {
    display: block;
    text-align: center; 
    font-family:Barlow, sans-serif;
font-size:16px;
font-weight:700; 
color:rgb(255, 255, 255);
}
.sub8_3 {
    width: 33.33%;
    height: 100%;
   
    float: left;
}
.sub8_3 span {
    display: block;
    text-align: center;
    font-family:Barlow, -apple-system, BlinkMacSystemFont, sans-serif;
font-size:100px;
font-weight:300;
color:rgb(255, 255, 255);
letter-spacing:-1px;
}
.sub8_3 p {
    display: block;
    text-align: center; 
    font-family:Barlow, sans-serif;
font-size:16px;
font-weight:700; 
color:rgb(255, 255, 255);
}
.sub8_4 {
    width: 33.33%;
    height: 100%;
    
    float: left;
}
.sub8_4 span {
    display: block;
    text-align: center;
    font-family:Barlow, -apple-system, BlinkMacSystemFont, sans-serif;
font-size:100px;
font-weight:300;
color:rgb(255, 255, 255);
letter-spacing:-1px;
}
.sub8_4 p {
    display: block;
    text-align: center; 
    font-family:Barlow, sans-serif;
font-size:16px;
font-weight:700; 
color:rgb(255, 255, 255);
}
.sub9 {
    width: 100%;
    height: 900px;
    background-color: #0f3b8f;
    background-image: url(http://demo1.wpopal.com/unixco/wp-content/uploads/2018/08/h6_bg_01.jpg);
    background-position: top left;
    background-repeat: no-repeat;
}
.sub9_1 {
    width: 70%;
    height: 740px;
    
    padding-top: 100px;
    padding-bottom: 30px;
}
.sub9_11 {
    width: 94.58%;
    height: 80px;
    display: block;
    
    padding-left: 50px;
    font-family:Barlow, -apple-system, BlinkMacSystemFont, sans-serif;
font-size:30px;
font-weight:900;
color: rgb(255, 255, 255);
}
.sub9_12 {
    width: 100%;
    height: 195px;
    
    display: block;
}
.sub_121 {
    width: 12%;
    height: 100%;
    float: left;
    padding-left: 50px;
}
.sub_122 {
    width: 50%;
    height: 100%;
    float: left;
}
.sub_122 h2 {
    font-family:Barlow, -apple-system, BlinkMacSystemFont, sans-serif;
font-size:20px;
font-weight:900;
color:rgb(255, 255, 255);
}
.sub_122 p {
    font-family:Barlow, -apple-system, BlinkMacSystemFont, sans-serif;
font-size:16px;
font-weight:300;
color:rgb(159, 169, 200);
}
.sub9_13 {
    width: 100%;
    height: 195px;
    
}
.sub_123 {
    width: 12%;
    height: 100%;
    float: left;
    padding-left: 50px;
}
.sub_124 {
    width: 50%;
    height: 100%;
    float: left;
}
.sub_124 h2 {
    font-family:Barlow, -apple-system, BlinkMacSystemFont, sans-serif;
font-size:20px;
font-weight:900;
color:rgb(255, 255, 255);
}
.sub_124 p {
    font-family:Barlow, -apple-system, BlinkMacSystemFont, sans-serif;
font-size:16px;
font-weight:300;
color:rgb(159, 169, 200);
}
.sub9_14 {
    width: 100%;
    height: 195px;
    
}
.sub_125 {
    width: 12%;
    height: 100%;
    float: left;
    padding-left: 50px;
}
.sub_126 {
    width: 50%;
    height: 100%;
    float: left;
}
.sub_126 h2 {
    font-family:Barlow, -apple-system, BlinkMacSystemFont, sans-serif;
font-size:20px;
font-weight:900;
color:rgb(255, 255, 255);
}
.sub_126 p {
    font-family:Barlow, -apple-system, BlinkMacSystemFont, sans-serif;
font-size:16px;
font-weight:300;
color:rgb(159, 169, 200);
}
.elementor-image-box-img {
    width: 50px;
    color: rgb(255, 255, 255);
}
#section {
    width: 100%;
    height: 110px;
    
    display: block;
    text-align: center;
    line-height: 30px;
    padding-top: 30px;
}
#section h6 {
    color:rgb(52, 203, 247);
font-family:Barlow, -apple-system, BlinkMacSystemFont, sans-serif;
font-size:16px;
font-weight:700;
}
#section h2 {
    color:rgb(15, 59, 143);
    letter-spacing:-1px;
font-family:Barlow, -apple-system, BlinkMacSystemFont, sans-serif;
font-size:30px;
font-weight:900
}
#final {
    width: 100%;
    height: 880px;
    background-color: blue;
    display: block;
}
.sub10 {
    width: 3%;
    height: 90px;
    
    float: left;
}
.sub11 {
    width: 94%;
    height: 880px;
    
    float: left;
}
.sub11_1 {
    width: 40%;
    height: 100%;
    
    float: left;
}
.sub11_1 img {
    width: 100%;
    height: auto;

}
.sub11_2 {
    width: 60%;
    height: 100%;
    
    float: left;
}
.sub12 {
    width: 3%;
    height: 90px;
   
    float: left;
}
.footer {
    width: 100%;
    height: 450px;
    background-color: blue;
}
.logo_foot {
    width: 25%;
    height: 80%;

    float: left;
}
.sub13 {
    width: 25%;
    height: 80%;
    
    float: left;
}
.sub14 {
    width: 25%;
    height: 80%;
    
    float: left;
}
.sub15 {
    width: 25%;
    height: 80%;
    
    float: left;
}
.logo_footer img {
    width: 280px;
    height: auto;
    padding-top: 90px;
    padding-left: 15px;
}
.sub13_1 {
    width: 280px;
    height: auto;
    color: blanchedalmond;
    float: left;
    padding-top: 80px;
}
.sub14_1 {
    width: 280px;
    height: auto;
    display: block;
    color: blanchedalmond;
    float: left;
    padding-top: 70px;
}
.sub15_1 {
    width: 100%;
    border-bottom: 1px solid;
    border-color: hsla(0,0%,100%,.2);
    margin-bottom: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 0;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
}
.sub15_2 {
    border: none;
    border-bottom: 2px solid;
    font-weight: 700;
    font-size: .857em;
    letter-spacing: 2px;
    padding-bottom: 0;
    padding-top: 0;
    border-radius: 0;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    color: #34cbf7;
    text-transform: uppercase;
}
.sub15 h4{
    padding-top: 70px;
}
.bottom {
    width: 100%;
    height: 100%;
    
    display: block;
}
.b1 {
    width: 40%;
    height: 90px;
    
    float: left;
}
.b2 {
    width: 40%;
    height: 90px;
    
    float: right;
    text-decoration: none;
    margin-bottom: 0px;   
}
.b1 p {
    padding-top: 60px;
    padding-left: 10px;
}
.b2 a {
    color: lemonchiffon;
}
.b2 p {
    padding-top: 60px;
    padding-left: 200px;
}